.form-container {
  position: absolute;
  left: -50vw;
  top: -50vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: 62px;
  color: white;
}

.text-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-input {
  background: none;
  border: none;
  border-bottom: solid 1px white;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 12px;
  color: white;
}
